* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 64px;
  border-bottom: 1px solid #888;
  padding: 16px;
}
nav {
  background-color: #bbb;
  float: left;
  padding: 16px;
  width: 160px;
  height: calc(100vh - 64px);
}
main {
  float: left;
  padding: 16px;
  width: calc(100vw - 175px);
  height: calc(100vh - 64px);
}
.book {
  display: inline-block;
  margin: 8px;
  padding: 32px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid lightgrey;
}
.book_title {
  font-size: 24px;
  font-weight: 600;
}
.book_subtitle {
  font-size: 16px;
  color: #888;
}
