@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  h1,
  h2,
  h3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  h1 {
    margin: 0;
    padding: 16px;
    border-bottom: 2px solid #ccc;
  }

  .container {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  /* SideBar */
  .SideBar {
    display: flex;
    flex-flow: column nowrap;
    width: 240px;
    background-color: #fff;
  }
  .MemoList {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    padding: 8px 8px;
  }
  .MemoItem {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: 12px;
    border: 1px solid transparent;

    span {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 8px 16px;
    }

    &:hover {
      button {
        display: block;
      }
    }

    button {
      display: none;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer;
    }
  }
  .MemoItem.selected {
    border: 1px solid rgb(92, 56, 255);
    border-radius: 8px;
  }
  .SideBarFooter {
    box-sizing: border-box;
    padding: 16px 16px;
    button {
      width: 100%;
      padding: 8px 0px;
      font-size: 1rem;
      color: #666;
      border-radius: 40px;
      border: 1px solid rgb(225, 224, 231);
      background-color: rgb(225, 224, 231);
      cursor: pointer;
      &:hover {
        color: rgb(92, 56, 255);
        border: 1px solid rgb(92, 56, 255);
        background-color: #ffffff;
      }
    }
  }

  /* MemoContainer */
  .MemoContainer {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 16px;
    background-color: rgb(239, 238, 245);
  }
  .MemoContainer_title {
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-bottom: 2px solid #e2e2e2;
    background-color: #fff;
  }
  .MemoContainer_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-size: 1.1rem;
    border: 1px solid #fff;
    background-color: #fff;
  }
}
