@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  .heading_title {
    margin: 0;
    padding: 1rem;
    border-bottom: 2px solid rgb(205 201 223);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  h2,
  p {
    margin: 0;
    font-family: "Gowun Dodum", serif;
  }
  .container {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
}
