.List {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.List > input {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.List > input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}

.List .todos_wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
