body {
  margin: 0;
  font-family: "Pretendard", Arial, serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}
input,
textarea {
  font-family: "Pretendard", Arial, serif;
}
