.Editor > section {
  margin-bottom: 2.5rem;
}

.Editor > section > h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.Editor > section > input,
textarea {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(236, 236, 236);
}

.Editor > section > textarea {
  width: 100%;
  min-height: 12.5rem;
  padding: 1rem;
  resize: vertical;
  box-sizing: border-box;
}

.Editor .emotion_section .emotion_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.Editor .button_section {
  display: flex;
  justify-content: space-between;
}
